{% from 'bootstrap5/form.html' import render_form_row, render_field %}
{% extends "base.html" %}
{% block title %}| Create Series{% endblock %}
{% block content %}
<section class="row justify-content-center py-5">
    <div class="col-sm-10 col-xl-8">
        <p>Fill in this form to create a series of podcasts!</p>            
        <form method="POST" action="{{ url_for('create_series') }}" id="create_series_form" enctype="multipart/form-data">    
            {{ form.hidden_tag() }}
            {{ render_field(form.title) }}
            {{ render_field(form.description) }}
            {{ render_form_row([form.category, form.image], col_class_default='col-md-6') }}
            <div class="d-flex justify-content-evenly">
                {{ render_field(form.submit_close) }}
                {{ render_field(form.submit_addep) }}
            </div>
        </form>
    </div>
</section>
{% endblock %}